body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2rem;
}

.banner {
    margin-top: 2rem;
    color: black;
    margin-bottom: 1rem;
}

.square {
    width: 150px;
    height: 150px;
}

.errors {
    list-style: none;
    padding: 0;
}

.errors li {
    border: 1px solid red;
    background-color: rosybrown;
    padding: 10px;
    color: #522020;
}

footer {
    margin-top: 5rem;
    text-align: center;
}